[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/codingcodax/nvim
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "custom/arc/get-borderless-arc"]
	path = custom/arc/get-borderless-arc
	url = https://github.com/ifvictr/get-borderless-arc
[submodule ".oh-my-zsh/custom/plugins/git-trim"]
	path = .oh-my-zsh/custom/plugins/git-trim
	url = https://github.com/jasonmccreary/git-trim
