# agents
agents/.agents/.skill-lock.json

# nvim
nvim/.config/nvim/lazy-lock.json

# opencode
opencode/.config/opencode/package-lock.json

# worktrunk
worktrunk/.config/worktrunk/config.toml.lock

# herdr
herdr-server.log
herdr-client.log
.plugins.lock
herdr.sock.agent
release-notes.json
session-snapshots/
session.json
