layout {
  cwd "$PWD"
  tab name="nagare" hide_floating_panes=true {
    pane split_direction="vertical" {
      pane name="nvim/lazygit" size="65%"
      pane name="commands" size="35%"
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  new_tab_template {
    pane cwd="$PWD"
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
}
