layout {
  cwd "$PWD"
  tab name="takumi" focus=true hide_floating_panes=true {
    pane name="nvim" focus=true
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  tab name="nagare" hide_floating_panes=true {
    pane split_direction="vertical" {
      pane name="commands" size="65%"
      pane size="35%" {
        pane name="cli" size="80%"
        pane name="ai web" size="20%"
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  tab name="kiban" hide_floating_panes=true {
    pane name="others"
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  new_tab_template {
    pane cwd="$PWD"
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  swap_tiled_layout name="vertical" {
    tab max_panes=4 {
      pane {
        pane split_direction="vertical" {
          pane
          pane {
            children
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
    tab max_panes=7 {
      pane {
        pane split_direction="vertical" {
          pane {
            children
          }
          pane {
            pane
            pane
            pane
            pane
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
    tab max_panes=11 {
      pane {
        pane split_direction="vertical" {
          pane {
            children
          }
          pane {
            pane
            pane
            pane
            pane
          }
          pane {
            pane
            pane
            pane
            pane
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
  }
  swap_tiled_layout name="horizontal" {
    tab max_panes=3 {
      pane {
        pane
        pane
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
    tab max_panes=7 {
      pane {
        pane {
          pane split_direction="vertical" {
            children
          }
          pane split_direction="vertical" {
            pane
            pane
            pane
            pane
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
    tab max_panes=11 {
      pane {
        pane {
          pane split_direction="vertical" {
            children
          }
          pane split_direction="vertical" {
            pane
            pane
            pane
            pane
          }
          pane split_direction="vertical" {
            pane
            pane
            pane
            pane
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
  }
  swap_tiled_layout name="stacked" {
    tab min_panes=4 {
      pane {
        pane split_direction="vertical" {
          pane
          pane stacked=true {
            children
          }
        }
      }
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
    }
  }
  swap_floating_layout name="staggered" {
    floating_panes {
    }
  }
  swap_floating_layout name="enlarged" {
    floating_panes max_panes=10 {
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 1
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 2
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 3
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 4
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 5
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 6
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 7
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 8
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x "5%"
        y 9
      }
      pane cwd="$PWD" {
        height "90%"
        width "90%"
        x 10
        y 10
      }
    }
  }
  swap_floating_layout name="spread" {
    floating_panes max_panes=1 {
      pane cwd="$PWD" {
        x "50%"
        y "50%"
      }
    }
    floating_panes max_panes=2 {
      pane cwd="$PWD" {
        width "45%"
        x "1%"
        y "25%"
      }
      pane cwd="$PWD" {
        width "45%"
        x "50%"
        y "25%"
      }
    }
    floating_panes max_panes=3 {
      pane cwd="$PWD" {
        height "45%"
        width "45%"
        y "55%"
      }
      pane cwd="$PWD" {
        width "45%"
        x "1%"
        y "1%"
      }
      pane cwd="$PWD" {
        width "45%"
        x "50%"
        y "1%"
      }
    }
    floating_panes max_panes=4 {
      pane cwd="$PWD" {
        height "45%"
        width "45%"
        x "1%"
        y "55%"
      }
      pane cwd="$PWD" {
        height "45%"
        width "45%"
        x "50%"
        y "55%"
      }
      pane cwd="$PWD" {
        height "45%"
        width "45%"
        x "1%"
        y "1%"
      }
      pane cwd="$PWD" {
        height "45%"
        width "45%"
        x "50%"
        y "1%"
      }
    }
  }
}
